*{
  margin: 0;
}

.container {
  align-items: center;
  background-image: linear-gradient(to right, #654ea3, #eaafc8);
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 52px;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
}

@media (min-width: 700px) {
  .text-design {
    color: pink;
  }
}

.text-design {
  font-size: 18px;
}


p {
  font-size: 24px;
}